<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title> {% block title %} {% endblock %} | Mi sitio web</title>
</head>
<body>
<h1>Bienvenidos</h1>
<ul>
	<li><a href="{% url 'home' %}">Inicio</a></li>
	<li><a href="{% url 'about' %}">Acerca de</a></li>
	<li><a href="{% url 'portafolio' %}">Portafolio</a></li>
	<li><a href="{% url 'contact' %}">Contáctanos</a></li>
</ul>
<!-- contenido -->
{% block content %} {% endblock %}
</body>
</html>